<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.joyce.example.mapper.AccountingMapper">
    <select id="getList" resultType="com.moon.joyce.example.functionality.entity.doma.Accounting">
        SELECT * FROM springboot.accounting WHERE delete_flag = 0 AND user_id = #{userId}
        <if test="article.offset!=null and  article.pageNumber!=null   ">
            LIMIT #{article.offset}, #{article.pageNumber}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        SELECT COUNT(*) FROM springboot.accounting
        WHERE delete_flag = 0
    </select>
    <select id="getData" resultType="com.moon.joyce.example.functionality.entity.doma.Accounting">
        SELECT * FROM springboot.accounting  WHERE delete_flag = 0 and user_id = #{userId}
        <if test="type=='0'">
            to_days(update_time) = to_days(#{date})
        </if>
        <if test="type=='1'">
            DATE_FORMAT(update_time,'%Y%m') = DATE_FORMAT(#{date},'%Y%m')
        </if>
        <if test="type=='2'">
            YEAR(create_date)=YEAR(#{date})
        </if>
    </select>
</mapper>