<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.joyce.example.mapper.ColumnsMapper">
    <select id="getColumns" resultType="com.moon.joyce.example.functionality.entity.doma.Column">
        SELECT DISTINCT a.column_name              AS columnName,
                        a.column_comment           AS columnComment,
                        a.data_type                AS columnType,
                        a.IS_NULLABLE              AS isNull,
                        a.COLUMN_KEY               AS isKey,
                        a.COLUMN_DEFAULT           AS defaultValue,
                        a.table_name               AS tableName,
                        a.CHARACTER_MAXIMUM_LENGTH AS columnLength,
                        b.table_comment            AS tableComment,
                        b.AUTO_INCREMENT           AS autoIncrement
        FROM information_schema.columns a
                 RIGHT JOIN information_schema.tables b
                            ON a.table_name = b.table_name
        WHERE  a.table_name = #{tableName}
            <if test="dbName!=null and dbName!=''">
                AND b.table_schema = #{dbName}
            </if>

    </select>
    <select id="getOne" resultType="com.moon.joyce.example.functionality.entity.doma.Column">
        SELECT table_name    AS tableName,
               table_comment AS tableComment
        FROM INFORMATION_SCHEMA.TABLES
        WHERE  TABLE_NAME = #{tableName}
          <if test="dbName!=null and dbName!=''">
              AND  table_schema = #{dbName}
          </if>

    </select>
    <select id="getAllTables" resultType="com.moon.joyce.example.functionality.entity.doma.Column">
        SELECT table_name    AS tableName,
               table_comment AS tableComment
        FROM INFORMATION_SCHEMA.TABLES
        WHERE table_schema = #{databaseName}
    </select>
    <select id="getMapData" resultType="java.util.Map">
        SELECT * FROM ${dbName}.${tableName}
        <if test="offset!=null and   pageNumber!=null  and  pageNumber!=0">
            LIMIT #{offset}, #{pageNumber}
        </if>
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ${dbName}.${tableName}
    </select>
</mapper>
