<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.joyce.example.mapper.DayTaskMapper">
    <sql id="dayTaskColumns">
               dt.id,
               dt.create_by,
               dt.create_time,
               dt.update_by,
               dt.update_time,
               dt.end_times,
               dt.today_task,
               dt.finaly_task,
               dt.project_id,
               dt.project_name,
               dt.user_id,
               u.nickname
    </sql>

    <select id="selectList" resultType="com.moon.joyce.example.entity.DayTask"
            parameterType="com.moon.joyce.example.entity.DayTask">
        SELECT
            <include refid="dayTaskColumns"/>
        FROM springboot.day_task dt
        LEFT JOIN springboot.user u
        ON dt.user_id = u.id
        WHERE dt.delete_flag =0
        <if test="startTime!=null">
          AND  date_format(#{startTime},'%Y-%m-%d')  &lt;= date_format(dt.create_time,'%Y-%m-%d')
        </if>
        <if test="endTime!=null">
            AND  date_format( #{endTime},'%Y-%m-%d') &gt;= date_format(dt.create_time,'%Y-%m-%d')
        </if>
        <if test="startTime2!=null">
            AND   date_format( #{startTime2},'%Y-%m-%d') &lt;= date_format( dt.end_times,'%Y-%m-%d')
        </if>
        <if test="endTime2!=null">
            AND  date_format( #{endTime2},'%Y-%m-%d') &gt;= date_format(dt.end_times,'%Y-%m-%d')
        </if>
        <if test="projectId!=null and projectId!=0  ">
            AND dt.project_id = #{projectId}
        </if>
        <if test="userId!=null and userId!=0">
            AND dt.user_id = #{userId}
        </if>
        ORDER BY  dt.update_time ,dt.id DESC
        <if test="offset!=null  and  pageNumber!=null  and pageNumber!=0 ">
            LIMIT #{offset}, #{pageNumber}
        </if>

    </select>

    <select id="selectCount" resultType="java.lang.Integer"
            parameterType="com.moon.joyce.example.entity.DayTask">
        SELECT
         COUNT(*)
        FROM springboot.day_task dt
        LEFT JOIN springboot.user u
        ON dt.user_id = u.id
        WHERE dt.delete_flag =0
        <if test="startTime!=null">
            AND  #{startTime} &lt;= date_format(dt.create_time,'%Y-%m-%d')
        </if>
        <if test="endTime!=null">
            AND  #{endTime} &gt;= date_format(dt.create_time,'%Y-%m-%d')
        </if>
        <if test="startTime2!=null">
            AND  #{startTime2} &lt;= date_format( dt.end_times,'%Y-%m-%d')
        </if>
        <if test="endTime2!=null">
            AND   #{endTime2} &gt;= date_format(dt.end_times,'%Y-%m-%d')
        </if>
        <if test="projectId!=null and projectId!=0 ">
            AND dt.project_id = #{projectId}
        </if>
        <if test="userId!=null and userId!=0">
            AND dt.user_id = #{userId}
        </if>
    </select>

    <select id="getLastData" resultType="com.moon.joyce.example.entity.DayTask">
        SELECT  *
        FROM springboot.day_task
        WHERE user_id = #{id}
        ORDER BY id DESC LIMIT 1
    </select>

</mapper>