<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.joyce.example.mapper.SourceMapper">
    <select id="selectList" resultType="com.moon.joyce.example.entity.doma.Source">
        SELECT
               s.id,
               s.create_by,
               s.create_time,
               s.delete_flag,
               s.update_by,
               s.update_time,
               s.source_name,
               s.type,
               s.apply_status,
               s.type,
               s.url,
               s.sort,
               s.v_id,
               s.user_id,
               u.username,
               s2.url AS vUrl,
            <if test="sType==0">
                sp.power_level AS powerLevel,
            </if>
               s.is_pub
             FROM springboot.source s
             LEFT JOIN springboot.user u
             ON s.user_id = u.id
             LEFT JOIN springboot.source s2
             ON s.v_id = s2.id
             <if test="sType==0">
                LEFT JOIN springboot.source_power sp
                ON sp.source_id = s.id
             </if>
             WHERE s.delete_flag = 0
               AND s.type != '2'
               <if test="sType==0">
                   AND sp.create_ids = #{createIds}
                   AND sp.delete_flag = 0
               </if>
               <if test="sType==1">
                   AND s.create_ids = #{createIds}
               </if>
            <if test="username!=null and username!=''">
                 AND u.username LIKE CONCAT('%',#{username},'%')
             </if>
            <if test="type!=null and type!=''">
                AND s.type = #{type}
            </if>
            <if test="searchWord!=null and searchWord!=''">
                AND (s.url LIKE CONCAT('%',#{searchWord},'%')
                OR   AND s.source_name LIKE CONCAT('%',#{searchWord},'%')
                OR   AND s.create_by LIKE CONCAT('%',#{searchWord},'%'))
            </if>
            ORDER BY s.sort,s.update_time,s.id DESC
        <if test="sType==1">
            <if test="offset!=null and  pageNumber!=null  and pageNumber!=0 ">
                LIMIT #{offset}, #{pageNumber}
            </if>
        </if>

    </select>

    <select id="selectCount" resultType="java.lang.Long">
        SELECT count(*) FROM springboot.source s
        LEFT JOIN springboot.user u
        ON s.user_id = u.id
        WHERE s.delete_flag = 0
        <if test="username!=null and username!=''">
            AND u.username LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="type!=null and type!=''">
            AND s.type = #{type}
        </if>
        <if test="searchWord!=null and searchWord!=''">
            AND (s.url LIKE CONCAT('%',#{searchWord},'%')
            OR   AND s.source_name LIKE CONCAT('%',#{searchWord},'%')
            OR   AND s.create_by LIKE CONCAT('%',#{searchWord},'%'))
        </if>
    </select>

    <select id="getVideoByVPicId" resultType="com.moon.joyce.example.entity.doma.Source">
        SELECT s1.id,
               s1.create_by,
               s1.create_time,
               s1.delete_flag,
               s1.update_by,
               s1.update_time,
               s1.source_name,
               s1.type,
               s1.url,
               s1.sort,
               s1.user_id,
               s1.desc_content,
               s1.apply_status,
               s1.v_id,
               s1.user_ids,
               s1.create_ids,
               s1.update_ids,
               s2.real_url,
               s2.url AS vUrl
        FROM springboot.source s1 LEFT JOIN springboot.source s2 ON s1.v_id = s2.id
        WHERE  s1.delete_flag = 0 AND s1.id = #{id}
    </select>
    <select id="getByIds" resultType="com.moon.joyce.example.entity.doma.Source">
        select * from springboot.source s where  s.delete_flag = 0
        <if test="ids!=null and ids.size!=0">
            and s.id  in
            <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>
</mapper>
