<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moon.joyce.example.mapper.UserMapper">

    <!-- &lt;!&ndash; 开启二级缓存 &ndash;&gt;
     <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
 -->
    <!--先分页查询后对结果排序-->
    <select id="getUsers" resultType="com.moon.joyce.example.entity.doma.User">
        SELECT *
        FROM springboot.user u
        WHERE u.delete_flag = 0
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%',#{username},'%')
            </if>
           <!-- <if test="password != null and password != ''">
                AND password =#{password}
            </if>-->
            <if test="phone!= null and phone!= ''">
                AND u.phone LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="email != null and email != ''">
                AND email  LIKE CONCAT('%',#{email},'%')
            </if>
         <!--   <if test="secondarPassword != null and secondarPassword!=''">
                AND secondar_password = #{secondarPassword}
            </if>-->
            <if test="status != null">
                AND u.status = #{status}
            </if>
            <if test="userTypeId != null and userTypeId != ''">
                AND u.user_type_id = #{userTypeId}
            </if>
            <if test="nickname != null and nickname != ''">
                AND u.nickname LIKE  CONCAT('%',#{nickname} ,'%')
            </if>
            <if test="offset!=null and   pageNumber!=null  and  pageNumber!=0">
                LIMIT #{offset}, #{pageNumber}
            </if>
    </select>

    <!--统计所有数据数量-->
    <select id="getTotal" resultType="java.lang.Long">
        SELECT count(*)
        FROM springboot.user u
        WHERE u.delete_flag =0
            <if test="id != null"> and u.id = #{id} </if>
            <if test="username != null and username != ''"> AND u.username Like CONCAT('%',#{username},'%')  </if>
            <!--<if test="password != null password != ''"> and password= #{password} </if>-->
            <if test="phone!= null "> AND u.phone Like CONCAT('%',#{phone} ,'%')</if>
            <if test="email != null and email != ''"> AND u.email Like CONCAT('%',#{email} ,'%') </if>
            <if test="nickname != null and nickname != ''"> AND u.nickname = #{nickname} </if>
           <!-- <if test="secondarPassword != null and secondarPassword!=''"> and secondar_password = #{secondarPassword} </if>-->
            <if test="status != null"> AND u.status = #{status} </if>
            <if test="userTypeId != null and userTypeId != ''"> AND u.user_type_id = #{userTypeId} </if>
    </select>

</mapper>
