<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.joyce.example.mapper.UUMapper">
    <select id="getListByType" resultType="java.lang.Long">
        SELECT temp.userId FROM
        (SELECT a.user_b_id AS userId FROM u_u a
        WHERE a.user_a_id = #{userId}
        <if test="type!=null and type!=''">AND a.type = #{type}
        </if>
        UNION
        SELECT b.user_a_id AS userId FROM u_u b
        WHERE b.user_b_id = #{userId}
        <if test="type!=null and type!=''">AND b.type = #{type}
        </if>
        )temp
    </select>
    <select id="selectList" resultType="com.moon.joyce.example.entity.UU" parameterType="java.lang.Long">
        SELECT
        u.id,
        u.type,
        u.delete_flag,
        u.create_time,
        u.user_a_id,
        us.username AS usernameB
        FROM springboot.u_u u
        LEFT JOIN springboot.user us
        ON u.user_b_id = us.id
        WHERE u.delete_flag =0
        <if test="userId">
            u.user_a_id = #{userId}
        </if>
    </select>
    <select id="getFriend" resultType="com.moon.joyce.example.entity.UU">
        SELECT *
        FROM springboot.u_u u
        WHERE u.delete_flag = 0
          AND (
                (u.user_a_id = #{id1}
                    AND
                 u.user_b_id = #{id2}
                    )
                OR (
                    (u.user_a_id = #{id2}
                        AND
                     u.user_b_id = #{id1}
                        )
                    )
            )
    </select>
</mapper>