<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moon.joyce.example.mapper.UUMapper">
    <select id="getListByType" resultType="java.lang.Long">
        SELECT temp.userId FROM
        (SELECT a.userb_id AS userId FROM u_u a
        WHERE a.usera_id = #{userId}
        <if test="type!=null and type!=''">AND a.type = #{type}
        </if>
        UNION
        SELECT b.
        usera_id AS userId FROM u_u b
        WHERE b.userb_id = #{userId}
        <if test="type!=null and type!=''">AND b.type = #{type}
        </if>
        )temp
    </select>
    <select id="selectList" resultType="com.moon.joyce.example.entity.UU" parameterType="java.lang.Long">
        SELECT
            u.id,
            u.type,
            u.delete_flag,
            u.create_time,
            u.usera_id,
            us.username AS usernameB
            FROM springboot.u_u u
            LEFT JOIN springboot.user us
            ON  u.userb_id = us.id
            WHERE u.delete_flag =0
            <if test="userId">
                u.usera = #{userId}
            </if>
    </select>
</mapper>