<head class="paneBar" th:replace="/common/public/header::header(~{::title})" xmlns="http://www.w3.org/1999/html">
    <title>数据源配置</title>
</head>
<div class="log">
    <head class="panelBar" th:replace="/common/public/headerBar::bar"></head>
</div>
<div class="loading"></div>
<div class="container addDb">
    <div class="row row-centered">
        <div class="well col-md-6 col-centered">
            <form class="form-horizontal center-block" role="form" method="post">
                <legend>数据源配置</legend>
                <input class="form-control" id="id" type="hidden" name="id" />
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="dataSourceName">数据源名称</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="dataSourceName" type="text" name="dataSourceName" placeholder="请输入数据库名称"   required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="domain">域名</label>
                    <div  class="col-sm-5 ">
                        <input class="form-control" id="domain" type="text" name="domain" placeholder="请输入域名(如:121.0.0.1)"   required="required"/>
                    </div>
                    <label class="col-sm-2 control-label" for="port">端口号</label>
                    <div  class="col-sm-2" >
                        <input  class="form-control" id="port" type="text" name="port" placeholder="请输入端口号"  value="3306" required="required"/>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="url">url</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="url" type="text" name="url" placeholder="请输入url"   required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="username">用户名</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="username" type="text" name="username" placeholder="请输入用户名"   required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="password">密码</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="password" type="password" name="password" placeholder="请输入密码"   required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="driverName">驱动包地址</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="driverName" type="text" name="driverName" placeholder="请输入驱动包(如:com.mysql.cj.jdbc.Driver)"    required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="tempCode">数据库描述信息</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="tempCode" type="text" name="tempCode" placeholder="请输入数据库描述信息"   required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for="databaseType">数据库类型</label>
                    <div  class="col-sm-8 ">
                        <input class="form-control" id="databaseType" type="text" name="databaseType" placeholder="请输入数据库类型(如：mysql)"  required="required"/>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 control-label" for=""> </label>
                    <div class="col-sm-8">
                        <input class="btn btn-default pull-left"  type="button" onclick="saveDataSource()" value="保存"/>
                        <input class="btn btn-default pull-right"  type="button" onclick="cancelDb()" value="取消"/>
                       <!-- <input class="btn btn-default pull-right"  type="button" onclick="applyDataSource()" value="设为应用数据源"/>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div  class="container-fluid dbs" style="width: 90%;margin-top:5%;margin-left: -3%">
    <div class="col-md-11 content">
        <div class="content-body">
            <div id="user_list_div">
                <div class="container-fluid">
                        <div id="toolbar-btn" class="btn-group pull-left" style="padding-bottom:10px;">
                            <button id="btn_add" onclick="addDataSource()" type="button" class="btn btn-primary btn-space">添加
                            </button>
                            <button id="btn_delete" onclick="deleteDbIds()" type="button" class="btn btn-danger btn-space">删除
                            </button>
                        </div>
                        <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                            <input name="username" placeholder='用户名称' type="text"
                                   style="float:left;width:150px;margin-right:5px;" v-model="username"
                                   class="form-control">
                            <div style="float:left;margin-right:5px;">
                                <input name="dataSourceName" placeholder='数据源名称' type="text"
                                       style="float:left;width:150px;margin-right:5px;" v-model="dataSourceName"
                                       class="form-control">
                            </div>
                            <div style="float:left;margin-right:5px;">
                                <input name="url" placeholder='数据库url' type="text"
                                       style="float:left;width:150px;margin-right:5px;" v-model="url"
                                       class="form-control">
                            </div>
                            <div style="float:left;margin-right:5px;">
                                <input name="driverName" placeholder='驱动' type="text"
                                       style="float:left;width:150px;margin-right:5px;" v-model="driverName"
                                       class="form-control">
                            </div>
                            <div style="float:left;margin-right:5px;">
                                <input name="tempCode" placeholder='暂留字段' type="text"
                                       style="float:left;width:150px;margin-right:5px;" v-model="tempCode"
                                       class="form-control">
                            </div>
                            <div style="float:left;margin-right:5px;">
                                <input name="databaseType" placeholder='数据源类型' type="text"
                                       style="float:left;width:150px;margin-right:5px;" v-model="databaseType"
                                       class="form-control">
                            </div>
                            <div class="btn-group">
                                <button id="btn_search" onclick="dbSearch()" type="button" class="btn btn-primary btn-space">搜索
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                </button>
                                <button id="btn_reset" onclick="resetSearch()" type="button" class="btn btn-default btn-space">重置
                                    <span class="fa fa-eraser" aria-hidden="true"></span>
                                </button>
                            </div>

                        </div>

                    <table id="dbTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<input class="title"  type="hidden" value="db">
<head class="panelBar" th:replace="/common/public/footer::footer"></head>


