<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
    <title>主页</title>
</head>
<link rel="stylesheet" th:href="@{/static/css/common/public/main.css}"/>
<div class="log">
    <head class="panelBar" th:replace="/common/public/headerBar::bar"></head>
</div>
<div class="headerBar"></div>
<input class="stop" type="hidden" value="2"/>
<canvas id="canvas"></canvas>
<div class="box">
    <div class="screen">
        <div class="window">
            <div class="title">
                <input id="rc" type="hidden" th:value="${redisConnection}"/>
                <!--<img src="css/1.jpg">-->
                <span>Joyce</span>
            </div>
            <div id="text">
                <ul class="cmd"></ul>
                <input type="text" name="text" id='in' placeholder="$home:">
            </div>
        </div>
    </div>
</div>
<!-- 音乐部分 -->
<embed height="0" width="0" src="https://music.163.com/outchain/player?type=2&id=29400926&auto=1&height=66"></embed>
<input class="title" type="hidden" value="index"/>
<head class="panelBar" th:replace="/common/public/footer::footer"></head>
<script type="text/javascript" th:src="@{/static/js/main/main.js}"></script>
<script type="text/javascript">
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;
    // 下面的fddsidgnvaieighaodgdg就是代码雨的文字
    var texts = 'fddsidgnvaieighaodgdg'.split('');
    var fontSize = 16;
    var columns = canvas.width / fontSize;
    // 用于计算输出文字时坐标，所以长度即为列数
    var drops = [];
    //初始值
    for (var x = 0; x < columns; x++) {
        drops[x] = 1;
    }

    function draw() {
        //让背景逐渐由透明到不透明
        ctx.fillStyle = 'rgba(0, 0, 0, 0.05)';
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        //文字颜色
        ctx.fillStyle = '#0F0';
        ctx.font = fontSize + 'px arial';
        //逐行输出文字
        for (var i = 0; i < drops.length; i++) {
            var text = texts[Math.floor(Math.random() * texts.length)];
            ctx.fillText(text, i * fontSize, drops[i] * fontSize);

            if (drops[i] * fontSize > canvas.height || Math.random() > 0.95) {
                drops[i] = 0;
            }
            drops[i]++;
        }
    }

    setInterval(draw, 33);
</script>
