<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
    <title>关于我们</title>
</head>
<div class="log">
    <head class="panelBar" th:replace="/common/public/headerBar::bar"></head>
</div>

    <div  id="qrcode" style="margin-top: 10%" ></div>

<input class="title" type="hidden" value="au"/>
<head class="panelBar" th:replace="/common/public/footer::footer"></head>
<script type="text/javascript" th:src="@{/static/js/jQuery.qrcode.js}"></script>
<script type="text/javascript" th:src="@{/static/js/common/public/aboutUs.js}"></script>
