<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" xmlns="http://www.w3.org/1999/html">
  <!--公共js-->
  <script type="text/javascript" th:src="@{/static/js/jQuery.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/md5.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/common/public/public.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/common/common.js}"></script>
  <script th:src="@{/static/bootstrap-table-master/dist/bootstrap-table.js}"></script>
  <script th:src="@{/static/bootstrap-table-master/dist/locale/bootstrap-table-zh-CN.js}"></script>
  <script th:src="@{/static/bootstrap-3.4.1/dist/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/utils/toastr/toastr.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/utils/toastr/totastr-config.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/utils/Ewin/js/Ewin.js}"></script>
  <script type="text/javascript" th:src="@{/static/assets/waifu-tips.js}"></script>
    <div style="margin-left: 50%">
      <p>Copyright ©Joyce</p>
    </div>
</div>
