<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
    <title>疫情数据</title>
</head>
    <style>
        .container {
            width: 1200px;
            margin: 0 auto;
        }

        #myEcharts {
            width: 800px;
            height: 500px;
            border: solid 1px red;
            margin: 0 auto;

        }
        #bg_div{
            width: 800px;
            height: 500px;
            background-color: white;
        }
    </style>

</head>

<div class="log">
    <head class="panelBar" th:replace="/common/public/headerBar::bar"></head>
</div>
<div class="container" style="margin-top: 10%">
    <!--为echarts准备一个dom容器-->
    <div id="bg_div">
        <div id="myEcharts"></div>
    </div>
</div>
<input type="hidden"  class="title" value="covid">
<script type="text/javascript" th:src="@{/static/js/utils/echarts/echarts.js}"></script>
<script type="text/javascript" th:src="@{/static/js/utils/echarts/china.js}"></script>
<head class="panelBar" th:replace="/common/public/footer::footer"></head>
<script>
    //获取数据
    function getData() {
        $.ajax({
            url: "https://view.inews.qq.com/g2/getOnsInfo?name=disease_h5",
            dataType: "jsonp",
            success: function (data) {
                //  console.log(data.data)
                var select = $('#select').val();
                var res = data.data || "";
                res = JSON.parse(res);
                var newArr = [];
                if (res) {
                    //获取到各个省份的数据
                    var province = res.areaTree[0].children;
                    for (var i = 0; i < province.length; i++) {
                       /*let  bgc =  getbgColor(province[i].total.confirm);*/
                        var json={};
                            json = {
                                name: province[i].name,
                                todayConfirm: province[i].today.confirm,
                                todayConfirmCuts: province[i].today.confirmCuts,
                                value: province[i].total.confirm,
                                nowConfirm: province[i].total.nowConfirm,
                                suspect: province[i].total.suspect,
                                dead: province[i].total.dead,
                                dataRete: province[i].total.deadRate,
                                heal: province[i].total.heal,
                                healRate: province[i].total.healRate,
                                select: 1
                            }
                        newArr.push(json);
                    }
                    //使用指定的配置项和数据显示图表
                    var option={
                        backgroundColor: '#FFFFFFF',
                        title: {
                            text:'全国疫情大数据',
                            subtext: '',
                            x : 'center'
                        },
                        tooltip:{
                            formatter:function (params){
                                return "地区:"+params.name+"</br>"+
                                    "新增确诊:"+params['data'].todayConfirm+"</br>"+
                                /*    "今日现确诊:"+params['data'].todayConfirmCuts+"</br>"+*/
                                    "确诊:"+params.value+"</br>"+
                                    "现确诊:"+params['data'].nowConfirm+"</br>"+
                                    "疑似人数:"+params['data'].suspect+"</br>"+
                                    "死亡人数:"+params['data'].dead+"</br>"+
                                    "死亡率:"+params['data'].dataRete+"</br>"+
                                    "已治愈人数:"+params['data'].heal+"</br>"+
                                    "治愈率:"+params['data'].healRate+"</br>";
                            }
                        },
                        //左侧小导航图标
                        visualMap : {
                            min : 0,
                            max : 35000,
                            text : [ '多', '少' ],
                            realtime : false,
                            calculable : true,
                            inRange : {
                                color : [ 'lightskyblue', 'yellow', 'orangered','brown' ]
                            }
                        },
                        series: [
                            {
                                /*name: '确诊人数',*/
                                type: 'map',
                                mapType: 'china',
                                roam: false,
                                label: {
                                    show: true,
                                    normal: {
                                        show: true
                                    },
                                    emphasis: {
                                        show: true
                                    }
                                },
                                data: newArr
                            }
                        ]
                    };

                    //初始化echarts实例
                    var myChart = echarts.init(document.getElementById('myEcharts'));
                    //使用制定的配置项和数据显示图表
                    myChart.setOption(option);
                }
            }

        })
    }
    $(document).ready(function (){
        getData(); // 第一次加载数据
        setInterval(function(){
            getData();
        }, 15000);
    });

</script>
