<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <link  rel="stylesheet" th:href="@{/static/bootstrap-3.4.1/dist/css/bootstrap.css}"/>
    <link  rel="stylesheet" th:href="@{/static/bootstrap-3.4.1/dist/css/bootstrap-theme.css}"/>
    <link  rel="stylesheet" th:href="@{/static/css/common/public/public.css}" />
    <link  rel="stylesheet" th:href="@{/static/bootstrap-table-master/dist/bootstrap-table.css}"/>
    <link  rel="stylesheet" th:href="@{/static/css/user/queryUser.css}"/>
    <link  rel="stylesheet" th:href="@{/static/css/common/public/headerBar.css}"/>
    <link  rel="stylesheet" th:href="@{/static/css/user/userList.css}"/>
    <link  rel="stylesheet" th:href="@{/static/css/menu/menuList.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/js/url/toastr/css/toastr.css}" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <!--Editor.md-->
    <link rel="stylesheet" th:href="@{/static/editor/css/editormd.css}"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />


    <title th:replace="${title}"></title>
</head>

</html>
