<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>菜单</title>
	<link  rel="stylesheet" th:href="@{/static/css/menu/htmleaf-demo.css}"/>
	<link  rel="stylesheet" th:href="@{/static/css/menu/menu.css}"/>
	<link  rel="stylesheet" th:href="@{/static/css/menu/awesome.css}"/>

</head>
<body>
<div th:fragment='meau_left'>
<div id="menu_div">
	<div class="htmleaf-container">
		<header class="htmleaf-header">
		</header>
		<div class=".menu_div">
			<ul class="menu"></ul>
		</div>
	</div>
</div>
</div>
</body>
<head class="panelBar" th:replace="/common/public/commonFooter::footer"></head>
	<script type="text/javascript" th:src="@{/static/js/menu/menuList.js}"></script>
</html>