<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
    <title>播放资源</title>
</head>
<link rel="stylesheet" th:href="@{/static/css/source/reset.css}"/>
<link rel="stylesheet" th:href="@{/static/css/source/core.css}"/>
<link rel="stylesheet" th:href="@{/static/css/source/willesPlay.css}"/>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="willesPlay">
                <div class="playHeader">
                    <div class="videoName" th:text="${sourceName}"></div>
                    <input id="id" type="hidden" th:value="${id}"/>
                    <input id="exist" type="hidden" th:value="${exist}"/>
                </div>
                <div class="playContent">
                    <div class="turnoff">
                        <ul>
                            <li><a href="javascript:;" title="喜欢" class="glyphicon glyphicon-heart-empty"></a></li>
                            <li><a href="javascript:;" title="关灯"
                                   class="btnLight on glyphicon glyphicon-sunglasses"></a></li>
                            <li><a href="javascript:;" title="分享" class="glyphicon glyphicon-share"></a></li>
                        </ul>
                    </div>
                    <!--<video width="100%" height="100%" id="playVideo">
                        <source id="video" src=""
                                type="video/mp4"></source>
                        当前浏览器不支持 video直接播放,请联系管理员
                    </video>-->
                    <video id="video" src="###" width="100%" height="90%"></video>
                    <div class="playTip glyphicon glyphicon-play"></div>
                </div>
                <div class="playControll">
                    <div class="playPause playIcon"></div>
                    <div class="timebar">
                        <span class="currentTime time">0:00:00</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                        <span class="duration time" th:text="${sumTime}">0:00:00</span>
                    </div>
                    <div class="otherControl">
                        <span class="volume glyphicon glyphicon-volume-down"></span>
                        <span class="fullScreen glyphicon glyphicon-fullscreen"></span>
                        <div class="volumeBar">
                            <div class="volumewrap">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 8px;height: 40%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <span id="pri" class="play-list1" onclick="pri()">上一个</span>
                        <span id="next" class="play-list1" onclick="next()">下一个</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <script type="text/javascript" th:src="@{/static/js/jQuery.js}"></script>
    <script>
        /*   var _hmt = _hmt || [];*/
        var array = [];
        var id = $('#id').val();
        $(document).ready(function () {
            if ($('#exist').val() === '1') {
                tips(false, "文件链接不存在")
            }
            if (id == null) {
                toList("/example/source");
            }
            $("#video").attr("src", "/example/source/playVideo/" + id);
            // console.log("]]]",array);
            $.ajax({
                url: '/example/source/getLists/l',
                type: 'GET',
                dataType: 'json'
            }).done(function (data) {
                //if (data.rs) {
                array = data.data;
                console.log("]]]]", array);
                //  }
            }).fail(function () {
                tips(false, data.msg)
            });
            /* var hm = document.createElement("script");
             var id = document.getElementById('id').value;
             if (id==null){
                 toList("/example/source");
             }
             hm.src = "/example/source/playVideo/"+id;
             var s = document.getElementsByTagName("script")[0];
             s.parentNode.insertBefore(hm, s);*/
        });

        //寻找索引
        function findIndex() {
            var index = 0;
            for (let i = 0; i < array.length; i++) {
                if (array[i].id == id) {
                    index = i;
                    break;
                }
            }
            return index;
        }

        function pri() {
            if (findIndex() !== 0) {
                var url = "/example/source/playSourcePage/" + array[findIndex() - 1].id + "/" + array[findIndex() - 1].sourceName;
                toList(url);
            } else {
                tips(false, "当前是第一个");
            }
        }

        function next() {
            if (findIndex() !== array.length - 1) {
                var url = "/example/source/playSourcePage/" + array[findIndex() + 1].id + "/" + array[findIndex() + 1].sourceName;
                toList(url);
            } else {
                tips(false, "当前是最后一个");
            }
        }
    </script>
</div>
<script type="text/javascript" th:src="@{/static/js/source/source.js}"></script>
<script type="text/javascript" th:src="@{/static/js/source/willesPlay.js}"></script>
<head class="panelBar" th:replace="/common/public/footer::footer"></head>

