<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
	<title>聊天室</title>
</head>
<div class="log">
	<head class="panelBar" th:replace="/common/public/headerBar::bar"></head>
</div>
	<link  rel="stylesheet" th:href="@{/static/css/websocket/default.css}"/>
	<link  rel="stylesheet" th:href="@{/static/css/websocket/normalize.css}"/>
	<link  rel="stylesheet" th:href="@{/static/css/websocket/styles.css}"/>

<div class="htmleaf-container">
	<header class="htmleaf-header">
	</header>
	<input id="id" type="hidden" th:value="${user.id}">
	<div class="htmleaf-content bgcolor-3">
		<div id="chatbox">
			<div id="friendslist">
				<div id="topmenu">
					<span class="friends"></span>
					<span class="chats"></span>
					<span class="history"></span>
				</div>

				<div id="friends">
					<div id="search">
						<input type="text" id="searchfield" placeholder="Search contacts..." />
					</div>
				</div>
			</div>

			<div id="chatview" class="p1">
				<div id="profile">
				</div>
				<div id="chat-messages">
					<!--<label>Thursday 02</label>

					<div class="message">
						<img th:src="@{/static/img/websocket/1_copy.jpg}" />
						<div class="bubble">
							Really cool stuff!
							<div class="corner"></div>
							<span>3 min</span>
						</div>
					</div>

					<div class="message right">
						<img th:src="@{/static/img/websocket/2_copy.jpg}" />
						<div class="bubble">
							Can you share a link for the tutorial?
							<div class="corner"></div>
							<span>1 min</span>
						</div>
					</div>
-->

				</div>

				<div id="sendmessage">
					<input id="messageText" type="text" placeholder="Send message..." />
					<button id="send" onclick="send()"></button>
				</div>

			</div>
		</div>
	</div>

</div>
<input class="title" type="hidden" value="websocket">
<input id="to" type="hidden">
<input id="websocketUrlPrefix" type="hidden" th:value="${websocketUrlPrefix}">
<head class="panelBar" th:replace="/common/public/footer::footer"></head>
<script type="text/javascript" th:src="@{/static/js/websocket/websocket.js}"></script>
<script type="text/javascript">
	//连接对象.
	var websocket = null;//websocketUrlPrefix
	var id = $("#id").val();
	//判断当前的浏览器是否支持websocket.
	if ("WebSocket" in window) {
		var websocketUrlPrefix = $("#websocketUrlPrefix").val();
		websocket = new WebSocket("ws://" + websocketUrlPrefix + "/" + id);
	} else {
		alert("Not support websocket");
	}

	//连接发生错误的回调方法
	websocket.onerror = function(){
		setMessageInnerHTML("error");
	};


	//连接成功建立的回调方法
	websocket.onopen = function(event){
		setMessageInnerHTML("open");
	}


	//接收到消息的回调方法
	websocket.onmessage = function(event){
		var obj =JSON.parse(event.data);
		var ou = "";
		var mt = "";
		var fi = "";
		var tm = "";
		console.log(!isBlank(event.date));
		if (!isBlank(obj.onlineUsers)){
			ou="当前在线人数:"+obj.onlionUsers+":";
		}
		if (!isBlank(obj.messageType)){
			mt=obj.messageType+";        ";
		}
		if (!isBlank(obj.fromuserId)){
			fi=obj.fromuserId+":";
		}
		if (!isBlank(obj.textMessage)){
			tm=obj.textMessage;
		}
		var messages = ou+mt+"  "+fi+":"+tm;
		setMessageInnerHTML(messages);

	}


	//连接关闭的回调方法
	websocket.onclose = function(){
		setMessageInnerHTML("close");
	}


	//监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
	window.onbeforeunload = function(){
		websocket.close();
	}


	//将消息显示在网页上
	function setMessageInnerHTML(innerHTML){
		$('#messageText').innerHTML += innerHTML + '<br/>';
	}


	//关闭连接
	function closeWebSocket(){
		websocket.close();
	}


	//发送消息
	function send(){
		var text = $('#messageText').val();
		var to=	$("#to").val();
		if (to==null||to==''){
			to = "All";
		}
		var  innerHTML = "<div><p>我:"+text+"</p></div>"
		setMessageInnerHTML(innerHTML);
		var messages={
			id:id,
			to:to,
			message:text
		}
		websocket.send(JSON.stringify(messages));
		$('#messageText').attr('text','');
	}
</script>




