<head class="paneBar" th:replace="/common/public/header::header(~{::title})">
    <title>测试</title>
</head>
<div class="layui-input-block">
    <select name="gncode" id="gncode" style="width: 10%" onchange="testChange()"></select>
    <div  id="text"></div>
    <div  id="anstext"></div>
    <input id="ans" type="button" value="答案" onclick="testAns()"/>
</div>
<head class="panelBar" th:replace="/common/public/footer::footer"></head>
<script>
    var sumAns = [];
    $(document).ready(function () {
        $("#gncode").empty();
        getTest();
    });
    /**
     * 变换页面
     */
    function getTest() {
        $('#text').css("background","white");
        $('#anstext').css("background","white");
        $.ajax({
            url: '/test/getDocs',
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            if(data.rs){
                var text = "<option class ='option' value=\"\"></option>";
                var res = data.data;
                for (let i = 0; i<res.length; i++) {
                   if ($(".option").length<=res.length+1){
                       text+="<option class ='option' value=\""+res[i].name+"\">"+res[i].name+"</option>"
                   }
                }
                $('#gncode').append(text);
            }
        }).fail(function () {
        });
    }

    function testChange(){
        $("#text").empty();
        $("#anstext").empty();
        var  name = $("#gncode").val();
        $.ajax({
            url: '/test/'+name,
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            if(data.rs){
                var res = data.data;
                var text ="";
                for (let i = 0; i < res.l1.length; i++) {
                    text += "<span id='p' align='center' style='font-size: 30px'>"+res.l1[i]+"</span></br>";
                    if (res.l1[i].indexOf("D．")!==-1){
                        text +="写出你的答案：<input class='anclass' align='center' type='text' value=''/></br>";
                    }
                }
               // console.log(text);
                $("#text").append(text);
            }
        }).fail(function () {
        });
    }

    function testAns(){
        $("#anstext").empty();
        var  name = $("#gncode").val();
        $.ajax({
            url: '/test/'+name,
            type: 'GET',
            dataType: 'json',
        }).done(function (data) {
            if(data.rs){
                var res = data.data;
                var text ="";
                for (let i = 0; i < res.l2.length; i++) {
                    var an = conver(res.l2[i]);
                    sumAns.push(an);
                    text +="<span id='ap' align='center' style='font-size: 30px'>("+(i+1)+")"+an+"</span>";
                    if ((i+1)%5==0){
                        text+="</br>"
                    }
                }
               /* var an = $('#an').val();
                if(an!=null && an.length!==0){
                    var error = "";
                    for (let i = 0; i < an.length; i++) {
                        if(sumAns[i]!==an.charAt(i)){
                            error+="<p align='center' style='width: 80%'>第"+(i+1)+"答案:"+sumAns[i]+"------------->你的答案:"+an.charAt(i)+"</p>";
                        }
                    }
                }*/
                var error = "";
                var ac= document.getElementsByClassName('anclass');
                for (let i = 0; i < ac.length; i++) {
                    if(sumAns[i]!==ac[i].value){
                        error+="<p align='center' style='width: 80%'>第"+(i+1)+"答案:"+sumAns[i]+"------------->你的答案:"+ac[i].value+"</p>";
                    }
                }
                $("#anstext").append(text+"</br>"+error);
            }
        }).fail(function () {
        });
    }

    function conver(str){
        if(str.indexOf('A')!=-1){
            return 'A';
        }
        if(str.indexOf('B')!=-1){
            return 'B';
        }
        if(str.indexOf('C')!=-1){
            return 'C';
        }
        if(str.indexOf('D')!=-1){
            return 'D';
        }
    }

</script>